/*colors: #E5E2D5 #A9C3D4 #4C6A80 #365571*/
/*These pages rely on css grid and flexbox*/
/*grid help: https://medium.freecodecamp.org/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c */

/*style for full page*/
*{
	box-sizing: border-box;
}
html{
	margin: 0;
	font-family: 'EB Garamond';
}
/*style for heading*/
title{
	display: none;
}
h1{
	font-size: 32pt;
	text-align: left;
	color: #365571;
}
#pagetitle{
	grid-area: title;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: #A9C3D4;
	padding-left: 16px;
	margin: 0;
}
/*style for body*/
body{
	background-color: #E5E2D5;
	display: grid;
	grid-template-areas:
		"title"
		"nav"
		"body"
		"footer";
	margin: 0;
}
h3{
	font-family: 'EB Garamond', 'semi-bold';
	font-size: 16pt;
	color: #365571;
	padding-left: 16px;
}
a{
	text-decoration: none;
	color: #A9C3D4;
}
/*style for footer*/
footer{
	grid-area: footer;
	background-color: #365571;
	display: flex;
	justify-content: center;
	padding: 32px;
	margin: 0;
}
#icons{
	width: 140px;
	display: flex;
    justify-content: space-around;
    align-items: center;
}